name: Lint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint mypy yapf isort .
    - name: Analysing the code with pylint
      run: |
        pylint `ls -R|grep .py$|xargs`
    - name: Analysing the code with mypy
      run: |
        mypy --strict `ls -R|grep .py$|xargs`
    - name: Check formatting with yapf
      run: |
        yapf --diff `ls -R|grep .py$|xargs`
    - name: Check import order with isort
      uses: jamescurtin/isort-action@master
